@model List<HotelSoloRicchi.Models.Prenotazione>
@using HotelSoloRicchi.Models

@{
    ViewBag.Title = "Prenotazioni";
}

<h2>Prenotazioni</h2>

<div class="container p-0">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Add", "Prenotazione", new { area = "" })" class="btn btn-primary">Aggiungi Prenotazione</a>
        </div>
    </div>
</div>

@if (Model.Count == 0)
{
    <h3>Non ci sono prenotazioni al momento</h3>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>N.Stanza</th>
                    <th>Anno</th>
                    <th>Numero Prenotazione</th>
                    <th>Data Prenotazione</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Caparra</th>
                    <th>Tariffa</th>
                    <th>Pensione o Mezza</th>
                    <th>Colazione</th>
                    <th>Modifica</th>
                    <th>Elimina</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var prenotazione in Model)
                {
                    <tr>
                        <td>@prenotazione.Id</td>
                        <td>@prenotazione.Nome @prenotazione.Cognome</td>
                        <td>@prenotazione.IdStanza</td>
                        <td>@prenotazione.Anno</td>
                        <td>@prenotazione.NumeroPrenotazione</td>
                        <td>@prenotazione.DataPrenotazione</td>
                        <td>@prenotazione.CheckIn</td>
                        <td>@prenotazione.CheckOut</td>
                        <td>@prenotazione.Caparra</td>
                        <td>@prenotazione.Tariffa</td>
                        <td>@(prenotazione.PensioneOmezza ? "Pensione" : "Mezza")</td>
                        <td>@(prenotazione.Colazione ? "Sì" : "No")</td>
                        <td>
                            <a href="@Url.Action("Edit", "Prenotazione", new { id = prenotazione.Id })" class="btn btn-primary">Modifica</a>
                        </td>
                        <td>
                            <form action="@Url.Action("Delete", "Prenotazione", new { id = prenotazione.Id })" method="post">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Sei sicuro di voler eliminare questa prenotazione?')">Elimina</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
